html body {
    background-image: url(../images/chemistry-pattern.gif);
}

/* Container for logo, subtitle and music controls */
.container {
    text-align: center;
    margin: 50px;
    margin-bottom: 10px;
}

#main-logo {
    display: inline-block;
    width: 150px;
    height: 150px;
}

#subtitle {
    line-height: 1px;
    font-family: 'VT323', monospace;
    font-size: 100px;
    color: #ffffff
}

/* Music controls buttons */
.musicControl {
    font-size: 12px;
    background-color: #FFD700;
    border-color: #000000;
    border-width: 2px;
    font-family: 'VT323', monospace;
}

/* Container for dynamic elements */
#main-content {
    display: inline-block;
    background: #ffffff;
    width: 100%;
    border: 3px solid #000000;
}

#answer-container {
    border-bottom: 4px solid #000000;
    padding: 10px;
    margin-left: 90px;
    margin-right: 90px;
}

/* Dynamic image container */
#answer {
    width: 100px;
    height: 100px;
    margin: 20px;
}

p {
    font-family: 'VT323', monospace;
}

ul {
    padding-inline-start: 0px;
}

li {
    display: inline-block;
}